.main{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.mother{
  width: 200px;
  height:200px;
  background-color: aliceblue;
  border: 1px solid blueviolet;
  position: relative;
}

.children{
  width: 100px;
  height:100px;
  background-color: yellowgreen;
  border: 1px solid blue;
  position: absolute;
  left: 50px;
  top: 50px;
  
}